/* ticket grande */
@media print {
	body { transform: scale(1); }
	table{ page-break-inside: avoid; }
}
body{
	margin:6mm 3.5mm 3mm 3.5mm;
	width:85mm;
	font-size: 13px;
	font-family: 'Arial';
}

*{ padding:0; margin:0; }
.posTicket1{
	padding:0; margin:auto; min-height:120mm;
}

table{ width:100%; }
td,
th,
tr,
table {
	border-top:0.25mm solid black; border-collapse: collapse; margin-top:0.5mm;
}

.quantity {
 width:10mm; word-break: break-all; text-align:center;
}
.item {
	width:55mm;
}
.price{
 width:20mm; word-break: break-all; text-align:right;
}
#docTotals{ padding:5mm 0; border-top:1px solid #000; }
.centrado {
 text-align: center; align-content: center;
}
.softFrom{ text-align:center; padding:5mm 0 0 0; }
img {
 max-width: inherit; width: inherit;
}