/* Design to seller */
@page {
	margin:0;
}
@media print {
body { transform: scale(0.85); }
table{ page-break-inside: avoid;}
}
*{ padding:0; margin:0; }
body{
	font-size: 12px; margin-left:-5mm;
	font-family: 'Arial';
}
.posTicket1{
	padding:0; margin:auto;
}

table{ width:100%; }
td,
th,
tr,
table {
	border-top:0.25mm solid black; border-collapse: collapse; margin-top:0.5mm;
}

.quantity {
 width:10mm; word-break: break-all; text-align:center;
}
.item {
	font-size:10px;
}
.price{
 width:15mm; word-break: break-all; text-align:right;
}

.centrado {
 text-align: center; align-content: center;
}
.softFrom{ text-align:center; padding:2mm 0 10mm 0; }
img {
 max-width: inherit; width: inherit;
}