html, body{ padding:0; margin:0; }
@page{ size:letter portrait; }
.page {
    width: 100%;
    margin:6mm 4mm 12mm 4mm;
    font-size: 14px;
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    color: #555;
}
.footer .page-number:after { content: counter(page); }
.headinfo{
    width:100%; font-size:14px; line-height:1.2; margin-bottom:12px;
}
.headinfo .logo{ width:90px; text-align:left; }
.headinfo .topinfo{ text-align:center; font-weight:600;  }
.headinfo .topRight{ width:240px; text-align:right  }
.docNum{ font-weight:bold; color:#0087C3; font-size:16px; }

.cardInfo{ border:1px solid #DDD; border-radius:4px; }
.cardInfo table { width:100%; border-collapse: collapse;}
.cardInfo th { background-color:#DDD; max-width:120px; font-size:90%; }
.cardInfo th, .cardInfo td { border:1px solid #DDD; padding:5px 3px; }
.cardInfo .lineMemo { font-size:12px;}

.items{ border:1px solid #DDD; border-radius:4px; margin-top:30px; font-size:12px;  }
.items table{ width:100%; border-collapse: collapse;   }
.items td, .items th{ text-align:center; padding:5px 0; border:1px solid #DDD; }
.items th { background-color:#DDD; }
.items tfoot td { border:none;  padding:5px 0; }

.bottomInfo{ margin-top:12px; font-size:12px; line-height:1.3; }
.bottomAdms{ position:fixed; bottom:32px; font-size:12px; text-align:center; font-weight:bold; }