:root{
--indigo:#6610f2;
--cyan:#17a2b8;
--dark:#343a40;
--colBody:#21259;
--fcForm:#495057;
--fontBody:"Source Sans Pro",Roboto,"Helvecita Neue",Arial;
--cDanger:#dc3545;
--cInfo:#17a2b9;
--cWarning:#ffc101;
--cSuccess:#28a745;
--cBSend:#007bff;
--cBDark:#343a40;
--wix2:calc(50% - .125rem);
--wix3:calc(100% / 3 - .125rem);
--wix4:calc(25% - .125rem);
--wix4_1:calc(75% - .125rem);
--wix5:calc(20% - .125rem);
--wix5_1:calc(80% - .125rem);
--wix6:calc(100% / 6 - .125rem);
--wix6_1:calc(100% / 6 * 5  - .125rem);
--wix7:calc(100% / 7 - .125rem);
--wix7_1:calc(100% / 7 * 6 - .125rem);
--wix8:calc(100% / 8 - .125rem);
--wix8_1:calc(100% / 8 * 7  - .125rem);
--wix9:calc(100% / 9 - .125rem);
--wix9_1:calc(100% / 9 * 8  - .125rem);
--wix10:calc(100% / 10 - .125rem);
--wix10_1:calc(100% / 10 * )  - .125rem);
}
.bf-n1{ color:#FFF; background-color:#16aaff; }
.bf-n2{ color:#FFF; background-color:#3ac47d; }
.bf-n3{ color:#FFF; background-color:#f7b924; }
.bf-n4{ color:#FFF; background-color:#da624a; }
.bf-danger {color:#FFF; background-color:var(--cDanger); }
.bf-success {color:#FFF; background-color:var(--cSuccess); }
.bf-warning {color:#FFF; background-color:var(--cWarning); }
.bf-info{ color:#FFF; background-color:var(--cInfo); }

body{
margin:0; font-size:1rem; font-weight;400; line-height:1.5; color:var(--colBody);
background-color:#fff;
font-family:var(--fontBody);
}
/* tables:: */
.table-responsive{ width:100%; overflow-x:auto; display:block; -webkit-overflow-scrolling:touch; }
table{ border-collapse:collapse; border-spacing: 0; padding:.3rem;  white-space:nowrap; }
table.tbCal_min{ white-space:normal; }
.table_zh>thead>tr>th:first-of-type{ padding-left: 1.5rem; }
table td, .table th{ padding:.75rem; }
.table_zh { border:1px solid #dee2e6; }

.table_zh thead th{ vertical-align:bottom; border-bottom:2px solid #dee2e6; }
.table_zh>thead>tr>th{ border-top-width:0; border-bottom-width:2px; }
.table_zh td, .table_zh th{ border:1px solid #dee2e6; padding:.3rem }

table.table_lucid1{  margin-top:6px; margin-bottom:6px; }
.table_lucid1 thead th{ border-top:0; }
.table_lucid1 th, .table_lucid1 td{ padding:.75rem; border-top:1px solid #dee2e6; vertical-align:middle; }
.table_lucid1 .tbSortAsc { position:relative; cursor:pointer; }
.table_lucid1 .tbSortAsc:before { opacity:1; right:1rem; content:"\2191"; }
.table_lucid1 .tbSortAsc:after { opacity:1; right:.5rem; content:"\2193"; }

/*checkbox */
.J-checkbox{
 position:relative; display:block; line-height:1.5rem; vertical-align:top; margin-right:.5rem;
}
.J-checkbox label::before{ content:"x"; color:transparent; margin-left:-12px; }
.J-checkbox label{ position:relative; margin-bottom:0; vertical-align:top; }
td.ckLabel { font-size:0.8125rem; padding:0; }
.J-checkbox input{ position:absolute; left:0; z-index:-1; width:1rem; height:1.25rem; opacity:0;
}
.J-checkbox input + label {
 background-repeat:no-repeat; cursor:pointer;
	background-position:0 calc(100% - .25rem) !important;
 padding-left:1.5rem;
}
.J-checkbox input[type="radio"]:checked + label { background-color:#bbb; }
.J-checkbox input[type=checkbox]:not(:checked) + label {
	background-image:url(/_img/check_off.png);
}
.J-checkbox input:checked + label  { background-image:url(/_img/ck_complet.png);}
.checkSel_Auth:checked + label  { background-image:url(/_img/user-admin.png);}
.checkSel_Save:checked + label  { background-image:url(/_img/saved.png);}
.checkSel_trash:checked + label  { background-image:url(/_img/trash.png);}
.fancyCheck input + label  { background-image:none !important;}
.fancyCheck input + label:before{ display:inline-block; vertical-align:middle; position:relative; bottom:1px; width:24px; height:24px; margin-right:10px; content:""; border:1px solid #CCC; border-radius:3px; }
.fancyCheck input:checked + label:before{ background-color:#17a2b8; content:"\f00c"; font-size:10px; color:#FFF; text-align:center; line-height:21px; font-family:FontAwesome; }


/* input_resp */
.input_ok, .input_error, .input_warning,.input_info {
 position:relative; padding:.75rem 1.25rem; margin-bottom: 1rem; border:1px solid transparent; border-radius:.25rem;
}
.input_ok { background-color:var(--cSuccess) !important; color:#000; }
.input_error { background-color:var(--cDanger) !important; color:#FFF !important; }
.input_warning { background-color:var(--cWarning) !important; color:#000; }
.input_info {background-color:var(--cInfo) !important; color:#FFF;}

.badge{ padding:.25rem .4rem; min-width:19px; display:inline-block; line-height:1; text-align:center; white-space:nowrap; vertical-align: baseline; border-radius:.25rem; font-size:80% !important; margin-right:.25rem; border:1px solid #CCC;  }
/* others */
.dot{
 visibility:visible; animation:cd-bounce-1 .8s; position:absolute; left:6px; top:2px; height:16px; width:16px; border-radius:20px; background:var(--blue);
}
.dot:after{
 content:''; position:absolute; background:#FFF; left:50%; top:50%; margin:-4px 0 0 -4px; display:block; width:8px;  height:8px; border-radius:20px;
}
/* timeline */
.vTimeline{ width:100%; position:relative; padding:1.5rem 0 1rem;}
.vTimeLine:before{
 content:''; left:11px; position:absolute; top:0; height:100%; width:4px; background:#e9ecef; border-radius:.35rem;
}
.vTimeLine-item{
 position:relative; margin:0 0 1rem;
}
span.vTimeLine-item-ico{ left:6px; top:2px; }
div.vTimeLine-item-content{ margin-left:36px; position:relative; font-size:.81818rem; }

/* divSelect form */
.divLineTitleSection { padding:0.625rem 0.25rem 0.375rem; background-color:#CCC; margin-top:0.25rem; }
.divLineTitleSection_descrip { padding:0.625rem 0.25rem 0.375rem; font-size:0.75rem;}
.divLine_wrapDescrip:before { content:""; clear:both; display:block; padding:0.15rem 0; }
.divLine_wrapDescrip { font-size:0.75rem; }
div.input { min-height:auto !important; }

.wrapxAuto, .wrapx2, .wrapx3, .wrapx4, .wrapx5, .wrapx6, .wrapx7, .wrapx8,
.wrapx3_1, .wrapx4_1, .wrapx5_1, .wrapx6_1, .wrapx7_1, .wrapx8_1, .wrapx9, .wrapx9_1,.wrapx10, .wrapx10_1
{
	float:left; margin-right:0.125rem;
}
.divLine{ position:relative; display:flex; flex-wrap:wrap; margin-right: -7.5px; margin-left:7.5px; }
.divLine .jcol{ margin-bottom:1rem; }
.divLine .jcol:last-child{ margin-right:0; }
.divLine .jcol span{ position:relative; display:block; }
.divLine .jcol label { font-weight:bold; padding-top:calc(.375rem + 1px); padding-bottom:calc(.375rem + 1px); margin-bottom:0; font-size:inherit; white-space:nowrap; overflow-x:hidden; text-overflow: ellipsis; max-width:100%; }
.divLine .jcol label span{ display:inherit;; }
.divLine .clear { position:absolute; top:50%; right:7px; height:14px; width:16px; background-image:url(/_img/cross_small.png); background-repeat:no-repeat; background-position:center center; }
.divLine .jcol input[type=text], .divLine .input,
.divLine .jcol select, .divLine .jcol textarea,
.divLine .jcol input[type=date], .divLine .jcol input[type=number], .divLine .jcol input[type=color], .divLine .jcol input[type=password]{
	display:block; width:100%; height:calc(2.25rem + 2px); padding:.375rem .75rem;
 font-weight:400; color:var(--fcForm);
 background-color:#fff; border:1px solid #ced4da; border-radius:.25rem;
}
.divLine .jcol input[type=checkbox] { display:initial; width:auto; height:auto; }
.divLine .divSel .options { max-width:100%; }
.divLine:after { clear:both; content:""; display:block; }
.divLine .wrapx1{ width:100%; }
.divLine .wrapx2{ width:var(--wix2);}
.wrapx3{ width:var(--wix3); }
.divLine .wrapx3_1 { width:var(--wix3_1); }
.divLine .wrapxAuto { width:auto; }
.divLine .wrapx4 { width:var(--wix4); }
.divLine .wrapx4_1 { width:var(--wix4_1); }
.divLine .wrapx5 { width:var(--wix5); }
.divLine .wrapx5_1 { width:var(--wix5_1); }
.divLine .wrapx6 { width:var(--wix6); }
.divLine .wrapx6_1 { width:var(--wix6_1); }
.divLine .wrapx7 { width:var(--wix7); }
.divLine .wrapx7_1 { width:var(--wix7_1); }
.divLine .wrapx8 { width:var(--wix8); }
.divLine .wrapx8_1 { width:var(--wix8_1); }
.divLine .wrapx9 { width:var(--wix9); }
.divLine .wrapx9_1{ width:var(--wix9_1); }
.divLine .wrapx10 { width:var(--wix10); }
.divLine .wrapx10_1 { width:var(--wix10_1); }
.wrapx3:nth-child(3), .wrapx4:nth-child(4)
{ margin-right:0px; }
.divLine > .btnClear { position:absolute; right:0; top:3px; }
.divLine .subText { display:block; }

/* btns */
.btnB { font-weight: 400; text-align:center; vertical-align:middle; border:1px solid transparent; padding:.375rem .375rem; border-radius:.25rem; cursor:pointer; }
.btn-drop{ color:#FFF; background-color:var(--cBDark); }
.faBtn{ border:none; background:none; cursor:pointer; }
.faBtnCt { padding:0.5rem; border:1px solid #CCC; border-radius:.25rem; }
.faBtnCt:hover { background-color:#EEE !important; }

.ui_button, input[type=submit] {
 font-weight: 400; text-align:center; vertical-align:middle; border:1px solid transparent; padding:.375rem .75rem; border-radius:.25rem; background-color:var(--cBSend); color:#FFF; cursor:pointer;
}
input[type=button]:disabled, button:disabled{ cursor:not-allowed;   }
.ui_button_reset, input[type=reset] { cursor:pointer; padding:0.3125rem 12px;
 background:#ce4b27; color:#FFF !important; font-weight:700;
}
.dropdown{ background-image:none; }
.dropdown-toggle:after{ position:relative; display:inline-block; top:1px; opacity:.8; margin-left:5px; vertical-align:.255rem; content:""; border-top: .3rem solid; border-right:.3rem solid transparent; border-bottom:0; border-left:.3rem solid transparent; }
/* viejos */


#bodyAjax{ min-height:99.9%; margin-top:2.5rem; padding-bottom:1.5rem; }
.soc_bg{ background-color:#0751B1 !important; }

#wbo_header{
background:#CCC;
box-shadow: 0 1px 1px rgba(0,0,0,.1);
padding:0.5rem 0.25rem 0.25rem 0.25rem;
margin-bottom:0.25rem; position:fixed; z-index:1; width:calc(100% - 0.5rem); top:0; left:0;
}
.wbo_notify { float:right; }
/* loader top */
.___jsLoader1{ background:rgba(255,255,255,0.5) url(http://st2.admsistems.com/_img/loader1.gif) no-repeat center center !important; position:fixed; top:0; left:0; width:100%; height:100%; color:#000; padding-top:3rem;  }
.___jsLoader1 div { margin:0 auto; width:30rem; height:30rem; margin:0 auto;  }
/* MENU app */
#__menuList{ display:inline-block;}
.ulWrapLevel{ }
.__menuListWrap{ z-index:10; top:1rem; left:0; width:90%; display:none; position:fixed; background:#FFF; padding:0.25rem; border:0.0625rem solid #CCC; max-height:90%; overflow:auto; }
.ulWrapLevel ul ul:not([class='ulList']){ padding:0 !important; border-left:1px solid #FBE983; margin-left:0.5rem; }
.ulWrapLevel li, .ulWrapLevel ._ulFoldLi { line-height:1.3; padding:0.05rem; position:relative; white-space:nowrap; width:98%; }
.ulWrapLevel ._ulFoldLi ._r { position:absolute; right:0; top:20%; width:1rem; white-space:nowrap; overflow:hidden;}
.ulWrapLevel ul li a:hover{ background:#CCC; }
.ulWrapLevel li button { text-transform:capitalize; display:block; text-align:left; width:99%; padding:0.25rem; font-size:inherit !important; background-color:transparent; border:none; }
.ulWrapLevel li button:hover { background:#CCC; cursor:pointer; }
.ulWrapLevel li a._link{ text-decoration:none; padding:0.25rem; display:block; }
.ulWrapLevel li._link:hover{ background:#CCC;}
.ulWrapLevel .close{ position:absolute; top:0; left:0; }

.nowrap{ white-space:nowrap; overflow:hidden; }
.noDisplay{ display:none; }
/* DOM-HTML WINDOWS */
.DOMwin_open { position:fixed; min-width:8rem; top:4%; left:10%; background:rgba(255,255,255,0.8); max-width:80%;
}
.DOMwin_openFull{ top:0 !important; left:0 !important;  width:100% !important; max-height:100% !important; height:100% !important; min-width:0 !important; min-height:0 !important; max-width:100% !important; max-height:100% !important;}
.DOMwin_open .winWrapTop { position:relative; top:0; left:0; min-height:2.25rem; }
.DOMwin_open .winTitle { padding:0.625rem 1rem; background:#596875; color:#FFF; }
.DOMwin_open .winWrap { border:0.0625rem solid #596875; border-radius:0.3125rem; background:#FFF; position:relative; height:100%; overflow-y:auto; }
.DOMwin_open .iBg_close, .DOMwin_open .iBg_move, .DOMwin_open .btnResize { position:absolute; right:0.375rem; top:0.375rem; cursor:pointer; }
.DOMwin_open .iBg_move { right:1.9375rem;  }
.DOMwin_open .btnResize { right:3.8375rem;  }
.DOMwin_open .winWrapCont { padding:0.5rem; }

.DOMwin_bkFixed{ position:fixed; width:100%; height:100%; top:0; left:0; background:rgba(255,255,255,0.8);
}
.DOMwin_bkFixed .winTitle { padding:10px 15px; background:#596875; color:#FFF; }
.DOMwin_bkFixed .winWrapInt { padding-top:1rem; margin:0 auto; }
.DOMwin_bkFixed .winWrap { border:1px solid #596875; border-radius:5px; background:#FFF; min-height:100px; position:relative;  overflow-y:auto; max-height:500px; }
.DOMwin_bkFixed .iBg_close { position:absolute; right:6px; top:6px; cursor:pointer; }
.DOMwin_bkFixed .winWrapCont { padding:10px 5px 5px 5px; max-height:80%;  }
/* SELECT tipo div */
.divSel{ display:inline-block; position:relative; }
.divSel .options{ max-width:7rem; width:100%; white-space:nowrap; overflow:hidden; }

.divSelect .line { padding:6px 3px; border-bottom:1px solid #CCC; }
.divSelect .line:hover{ background-color:#CCC; cursor:pointer; }

.divList { position:absolute; top:100%; left:0; background-color:#FFF; border:1px solid #CCC; min-height:100px; z-index:1; min-height:100%; min-width:90%; padding:6px; }
.divList .line { padding:6px 3px; border-bottom:1px solid #CCC; display:block !important; }
.divList .line:hover{ background-color:#CCC; cursor:pointer; }

div._i{ display:inline-block; padding:0; margin:0 0.25rem; position:relative;
font-weight:normal; text-transform:none; height:0; float:right;
}
div._i:after { content:" "; clear:both; }
._i .fa { color:#0F0; }
._i_wrap{ display:none; position:absolute; min-width:15rem; padding:0.25rem; border:0.0625rem solid #000; border-radius:0.25rem; background:#FFF; font-size:0.9rem !important; z-index:1; }

.btnList{
	background:none; border:none;
}
.btnList:hover{ background-color:#CCC; }

/* win Classes */
._winMinRel{
	position:absolute; background:#FFF; min-width:8rem; max-width:16rem; max-height:1rem; z-index:1;
}
._winMinRel_intWrap{
	border:0.0625rem solid #596875; border-radius:0.31rem; background:#FFF; min-height:6.25rem; position:relative; margin-bottom:0.25rem;
	overflow:auto; padding:0.5rem; max-height:15rem;
}
._winMinRel_title{ padding:5px 7px; background:#596875; color:#FFF; }
._rightCalc{ left:calc(100% - 1.5rem); }

/* tbf */
.tbf { display:block; padding:0.3125rem 0; position:relative; margin-bottom:0.375rem; }
.tbf:after { clear:both; content:""; display:block; }
.tbf_label { font-size:0.8rem; display:block; font-weight:bold; }
.tbf_txt{ display:block; line-height:1.2; }

.tbf_x1,.tbf_x2,.tbf_x3,.tbf_x3_1,.tbf_x4,.tbf_x4_1,.tbf_x5,.tbf_x5_1,.tbf_x6,.tbf_x6_1,.tbf_x7,.tbf_x7_1,.tbf_x8,.tbf_x8_1,.tbf_x9,.tbf_x9_1,.tbf_x10,.tbf_x10_1
{
	float:left; margin-right:0.125rem; border-bottom: 1px solid #b7b5b5; margin-bottom:0.5rem;
}
.tbf div:last-child{ margin-right:0; }
.tbf .tbf_x1{ width:100%; }
.tbf .tbf_x2{ width:49%;}
.tbf .tbf_x3{ width:33%; } .tbf .tbf_x3_1 { width:66.5%; }
.tbf .tbf_x4 { width:24.5%; } .tbf .tbf_x4_1 { width:74.5%; }
.tbf .tbf_x5 { width:19.5%; } .tbf .tbf_x5_1 { width:79.5%; }
.tbf .tbf_x6 { width:16.5%; } .tbf .tbf_x6_1 { width:82.5%; }
.tbf .tbf_x7 { width:14.15%; } .tbf .tbf_x7_1 { width:84.85%; }
.tbf .tbf_x8 { width:12%; } .tbf .tbf_x8_1 { width:87%; }
.tbf .tbf_x9 { width:10.8%; }, ..tbf .tbf_x9_1{ width:88.8%; }
.tbf .tbf_x10 { width:9.5%; }, ..tbf .tbf_x10_1 { width:90%; }


/* ffline - Field Form Line */
.ffLine{ display:block; padding:0.2rem 0; position:relative; margin-bottom:0.30rem;
 font-size:0.85rem; color:#000;
}
.ffLine:after { clear:both; content:""; display:block; }
.ffLine label { display:inline-block; margin-bottom:0.25rem; font-weight:600; margin-right:0.25rem; }
.ffLine .ffx_ { margin-right:0.125rem; }
.ffLineNoBd .ffLine > div { border-bottom:none !important; }
.ffLine div { display:inline-table; }
.ffLine .ffx1{ width:100%; }
.ffLine .ffx2{ width:49%;}
.ffLine .ffx3{ width:32.5%; }, .ffLine .ffx3_1 { width:66.5%; }
.ffLine .ffx4{ width:24.5%; }, .ffLine .ffx4_1 { width:74.5%; }
.ffLine .ffx6{ width:16.25%; }, .ffLine .ffx6_1 { width:83.5%; }
.ffLine .ffx8{ width:calc(12.5% - 0.125rem); }, .ffLine .ffx8_1 { width:87.25%; }
.ffLine .ffxAuto { width:auto; margin-right:1rem; }
.ffLine .ffx_ div { display:block; }
.ffLine .ffx_ label { }


._1f_wrap{ border:0.0625rem solid #CCC; padding:0.25rem; display:inline-block; }
.inpLine { margin-bottom:0.25rem; }
.inpLine input[type=text], .inpLine input[type=number], .inpLine input[type=color], .inpLine input[type=password], .inpLine select{ width:9rem; height:1.875rem; font-size:0.9375rem; margin-right:0.125rem; background-color:#FFF; }


.textNoteWrap {background:#FFFFDD; border:1px solid rgba(0,0,0,0.16);
	min-height:80px; max-height:200px; overflow-y:auto; padding:6px;
}

.in_x30 { width:1.85rem !important; }
.in_x40 { width:2.5rem !important; }
.in_x60 { width:3.75rem !important; }
.in_x80 { width:5rem !important; }
.in_x90 { width:5.625rem !important; }
.in_x100 { width:6.25rem !important; }
.in_x200 { width:12.5rem !important; }
.in_1x1{ width:98%; }

input[disabled]{ cursor:not-allowed; background:#EEE; }
.textarea_wrap { padding:8px; border:1px solid #CCC; margin:6px 0; }
.fieldset_EEE{
	background:#EEE; border-radius:2px; margin-top:6px;
}
input[type=button] { cursor:pointer; }
.bgDef{ background-color:#d33d32 !important;}
.ajusTextTrim{ white-space:pre; overflow-x:hidden; float:left; }
.ajusTextTrim:hover { overflow-x:auto; }
.ajusTextAll { white-space:pre-line; }
.ajusTextOverFlow { white-space:pre; }
.mPointer { cursor:pointer; }

.head1{
border-bottom:0.0625rem solid #D95B43;
font-weight:bold;
letter-spacing:-1px;
line-height:1rem;
margin-bottom:0.5rem;
}

/* MENU */
.flowLine /* Todo en 1 linea, el menu*/ { 	white-space: nowrap;
	display:block; overflow-x:auto;-webkit-overflow-scrolling: touch; width:100%;
}
.menuInline{ font-size:0.85rem;
white-space: nowrap; display:block; overflow-x:auto; -webkit-overflow-scrolling: touch;
position:relative; top:0; left:0; width:100%; text-transform:Capitalize; margin:0 auto; margin-bottom:0.1875rem;
border-bottom:1px solid #CCC;
}
.menuInline > ul  > li { display:inline-block; padding:0.3125rem 0.3125rem 6px 6px; border-radius:15% 15% 0 0; cursor:pointer; }
.menuInline >ul > li:hover, .menuInline >ul > li.active { background-color:#CCC; color:#000;}
/* END MENUS */

fieldset {
 padding: 0.3125rem 10px; margin:0 0 0.125rem 0; width:auto;
 border: #ccc 1px solid; box-shadow: inset 0 0 1px rgba(255, 255, 255, 1);
}
fieldset  legend {
display: block;
width: auto;
padding: 0.1875rem 10px;
margin-left:0.25rem;
margin-bottom: 0.125rem;
font-size:0.6875rem;
font-weight: bold;
line-height: 1.25rem;
color: #444444;
border: 0;
border-bottom: none;
background-color: #f8f8f8;
border: #ccc 1px solid;
}
fieldset  legend { cursor:pointer; }

/* boxes, boxi1, spanLine */
.boxi1Ico { width:1.25rem !important; color:transparent; }
.boxi1, .boxi1min, .boxi1NM, .boxiO{
	padding:0 0.25rem 0 0.25rem !important; border:0.0625rem solid #CCC !important;
	background-color:#FFF !important; border-radius:0.1875rem; margin-right:0.0625rem;  height:2rem; text-decoration:none !important;
	font-weight:bold; text-align:left;
	display:inline-block; cursor:pointer;
}
.boxi1 .boxi1_label { overflow:hidden; position:absolute; top:0.125rem; left:0.125rem; font-size:0.7rem; font-weight:normal; }
.boxvPost{ /* caja con información como zeus<email@> */
 font-size:0.75rem; border:0.062rem solid #000; display:inline-block; padding:0.25rem; border-radius:0.25rem; max-width:10rem; white-space:nowrap; overflow:hidden; margin:0 0.25rem 0.25rem 0; position:relative;
}
.boxvPost_close{ position:absolute; top:-0.25rem; right:-0.25rem; cursor:pointer; }
.boxvPost .boxvPost_line{ display:block; }
.boxvPost .boxvPost_lineBlue{ color:blue; }

/*label: responsable, text: input con texto */
.boxiO{ display:inline-block; position:relative; width:7rem; overflow-x:auto; overflow-y:hidden; vertical-align:top; }
.boxiO .boxiO_label { overflow:hidden; position:absolute; top:0.125rem; left:0.125rem; font-size:0.7rem; font-weight:normal; }
.boxiO .boxiO_text{ overflow:hidden !important; position:absolute; top:0.75rem; left:1.5rem; width:5.5rem; border:none !important; background:none !important; }
.boxiO .boxiO_open { position:absolute; left:0; top:0.75rem; }
.boxiO .boxiO_clear { position:absolute; right:0; }

.boxi1NM { padding-right:0 !important; width:1.25rem; }
input[type="button"].boxi1NM{ color:#FFF;}
.boxi1min { min-height:16px; padding:2px;}
input[type="button"].boxi1 { text-align:left; }

.spanLine{ display:inline-block; padding:0.1875rem; border:1px solid #CCC; border-radius:0.1875rem; margin-right:0.3125rem; }
.spanLine_label{ display:inline-block; padding:0.1875rem; margin-right:0.3125rem; }
.spanLine_label span { border:0.0625rem solid #CCC; border-radius:0.1875rem; }
/* border-bottom padding */
.spanLine2{ display:inline-block; padding:0.1875rem; border-bottom:0.0625rem solid #000; }

.spanBox2{
	display:inline-block; padding:0.1875rem; border:1px solid #CCC; border-radius:0.1875rem; margin-right:0.3125rem;
	text-align:center; font-weight:bold; width:40px; margin-bottom:0.1875rem;
}
.spanBox2:nth-child(even){ background-color:#CCC;  }
.spanBox2:nth-child(even) .tTop{ border-bottom-color:#FFF;  }
.spanBox2 .tTop { display:block; border-bottom:1px solid #CCC; }
.spanBox2 .tInput { display:block;  width:100%; }

/* border negro cuadro*/
.spanBox3{ display:inline-block; padding:0.25rem; border:0.0625rem solid #000; border-radius:0.1875rem; margin-right:0.3125rem;
	text-align:center; font-weight:bold;
}


.btn, .btnBor, .btnAddText, .btnNewAction{ background-position:center center; background-repeat:no-repeat; border:none; right:0; width:1.25rem; height:1.25rem; font-weight:bold; cursor:pointer; margin-right:2px !important; background-color:inherit !important; margin-top:0.375rem; }
.btnOnRight { position:absolute; right:16px; top:6px; }
.btnRight { position:absolute; right:0; top:0; }
.btnBor:hover { border-color:#000; background-color:rgba(204,204,204,0.40); }
.btnBor { width:32px; height:30px; border:1px solid #CCC; margin-right:0.1875rem; }
.btnAddText { background-position:left center; padding-left:1.25rem; width:auto; border-bottom:1px solid #000; }
.btnNewAction { background-position:left center; padding:0.2rem; padding-left:1.5rem; width:auto; border:0.0625rem solid #000; border-radius:0.1875rem; height:1.75rem !important; }
.btn_Hover > .btn { visibility:hidden; }
.btn_hover:hover  > .btn { visibility:visible; }
.no-dis { cursor:inherit; }
.btnOnSearch { display:block; width:99%; text-align:left; border:none; border-bottom:0.0625rem solid #CCC; padding:0.25rem; background:none; cursor:pointer; }


.inBtnWrap {border:1px solid #CCC; padding:0 1.25rem 0 0; position:relative; min-height:30px; }
.inBtnWrap input[type=text] { min-height:30px; }
.inBtn, .inBtn_add,.ibtn { padding-left:1.25rem; background-repeat:no-repeat; background-position:left center; cursor:pointer; background-image:url(/_img/add.png); border:none; background-color:transparent; }
.inBtnWrap .inBtn_add { float:left;  border:none; margin:0; height:18px; width:100%; min-width:30px; }
.inBtnWrap .inBtn_clear { background-image:url(/_img/trash.png) #FFF center center no-repeat; border:none; border-left:1px solid #EEE; position:absolute; right:0; top:0.1875rem; width:1.25rem; height:1.25rem; font-weight:bold; cursor:pointer; }
.inBtn_contact { background-image:url(/_img/people.png); }

/* UL, DIV LIST */
.divUL {}
.divUL .item{
	line-height:2; padding:2px 0.3125rem; cursor:pointer;
	border-bottom: 1px solid #ccc;
}
.divUL .item:hover { background-color:#CCC; }
.reList {
list-style-type: none;
margin: 0; padding: 0; margin:10px 0;
}
.reList > li { min-width:85%;
line-height:2; padding:2px 0.3125rem; cursor:pointer;
border-bottom: 1px solid #ccc;
}
.reList >li:last-child {border: none; }
.reList >li:hover { background-color: #f6f6f6; }

ul.ulList {}
ul.ulList > li { padding:7px 0; display:block; }
ul.ulList > li > input[type=button] { min-width:50%; text-align:left; }
ul.ulList > li:hover{ background-color:#CCC; cursor:pointer; }
ul.clicList {}
ul.clicList >li {padding:6px 0.1875rem; }
ul.clicList >li:hover{ background-color:#CCC; cursor:pointer; }
/* gvt */
.gvtDoc_totalLine{
	display:table-row;
}
.gvtDoc_totalLine_td{
	display:table-cell; padding-right:0.5rem;
}
/* TABLES base*/
.divTb{ border:0.0625rem solid #EEE; }
.divTbRow{
	border-bottom:0.0625rem solid #EEE;
}
.divTbCell {
	display:inline-block; padding:0.0135rem; min-width:calc(10% -0.25rem);
}

.table_100{ width:auto !important; }
.table_x100{ width:100% !important; }
/* BTNS */
.googBtn { background-color:#F3F3F3; padding:0.1875rem 8px; border:1px solid #CCC; border-radius:2px; font-weight:bold; text-align:center; margin-right:0.1875rem; }
.googBtn:hover{ border:1px solid #AAA;; }
.inBtn_clear{ background-image:url(/img/trash.png) center center no-repeat; border:none;  min-width:1.25rem; font-weight:bold; cursor:pointer; background-color:transparent; }

.pager_btn, .pager_num{ padding:0.25rem 0.5rem !important; border:0.0624rem solid #EEE !important; border-radius:0.25rem !important; font-weight:bold !important; background:#CCC !important; cursor:pointer !important; }
.pager_num{ cursor:default !important; width:3rem; font-size:0.75rem; text-align:center; }

/* upload files */
.psUploadFile, .psUFile {
	width: 0.1px; height: 0.1px;
	opacity: 0; overflow: hidden; position: absolute; z-index: -1;
}
.psUploadFile + label { cursor:pointer; border:1px solid #CCC; border-radius:5px;
color:transparent; background:url(/img/add.svg) no-repeat center center;
display:inline-block; height:120px; margin-left:5px;
}
.psUFile + label {
	cursor:pointer; border:1px solid #CCC; border-radius:5px;
color:transparent; background:no-repeat center center;
display:inline-block;
}
.psUFile_x32 +label {
	height:40px; width:40px; background-image:url(/_img/addfilee.png);
}
.psUpdList_Item { padding:3px 3px; margin-bottom:4px; border:1px solid #CCC; border-radius:6px; }
.psUpdList_Item .docInfo { padding:3px; font-size:13px; }
.psUpdList_Item .docInfo .userName{ font-style:italic; }
.psUpdList_Item .docInfo .dateC{ margin-left:20px;  }
*[onclick]{ cursor:pointer; }
.cPointer { cursor:pointer !important; }
/* COMMENTS */
.psCommentFloatListWrap{ }
.psCommentFloatListWrap{ }
.psCommentFloatListWrap:after { content:""; clear:both; }
.psCommentFloatList_Item { padding:5px; font-size:13px; border:1px solid #CCC;
	border-radius:5px; margin-bottom:5px; background:#FFF; position:relative; }
.psCommentFloatList_Item .iName { font-weight:bold; display:inline-block; margin-left:10px; }
.psCommentFloatList_Item .iDate { color:#898E95; display:inline-block; font-size:12px; }
.psCommentFloatList_Item .iComment {padding:5px 5px; }

.apiBoxi{ /* caja con información como zeus<email@> */
 font-size:0.75rem; border:0.062rem solid #000; display:inline-block; padding:0.25rem; border-radius:0.25rem; max-width:10rem; white-space:nowrap; overflow:hidden; margin:0 0.25rem 0.25rem 0; position:relative;
}
.apiBoxi_close{ position:absolute; top:-0.25rem; right:-0.25rem; cursor:pointer; }
.apiBoxi .apiBoxi_line{ display:block; }
.apiBoxi .apiBoxi_lineBlue{ color:blue; }
/* End Mpa */

/* responsibe */
.pagePrint_letter{ position:relative;
	height:312mm; width: 227mm; margin:0 auto; size:letter; background: white;
}
.pagePrint_footer { position:absolute; bottom:0; font-size:0.8rem; }

.pre {
white-space: pre-wrap;
white-space: -moz-pre-wrap;
white-space: -pre-wrap;
white-space: -o-pre-wrap;
word-wrap: break-word;
}

/* print conf */
.textNowrap {white-space: nowrap;}
.justPrint{ display:none; }
.pageBreakBef { page-break-before: always;}
.pageBreak { clear: both; page-break-after: always; break-after:always; }
@media print {
html, body { font-size:14pt; padding:0 !important; margin:0 !important; background-color:#FFF;  }
body {
}
@page {
	/* size:letter portrait; letter x 72ppi */
/*  	size:612px 792px; a4 x 72ppi */
	/* 	size:letter portrait; size:210mm 297mm;  */
	/* margin:0; */
}
.page_header{ position:fixed; top:0; }
.no-print { display:none !important; }
.justPrint{ display:inherit; }
#admsWinPrinter { height:auto; width:auto;  min-heihgt:2040px; }
.section-to-print{
	visibility:visible; top:0; left:0; width:1024px;
}
.page_fullContent{
	width:100vw;  height:100hw; page-break-after:always;
	margin: 0; padding: 0;
}
.page_imgBgFull img {  }
.page_textContent{ margin:1.0cm 1.5cm; }
.pageBreak { clear: both; page-break-after: always;}
.pageSalto{ page-break-after: always; page-break-inside: avoid; }
.print_pagBreakBef{ float:none !important; page-break-before:always; display:block; }
.print_pagBreakAfter{ float:none !important; page-break-after:always; display:block;}
}
@media only screen and (max-width: 61.25rem) {
#bodyAjax { overflow-x:overlay; }
.formMail label { display:inline-block; float:none; width:100%; text-align:left;}
.formMail .input { width:100%; float:none; }
.DOMwin_bkFixed .winWrapInt { padding:0; }
.DOMwin_bkFixed .winWrapCont { padding-bottom:8px; max-height:98%; }
}
@media only screen and (max-width: 38.75rem){
.wrapx1, .wrapx2, .wrapx3, .wrapx4, .wrapx5, .wrapx6, .wrapx7, .wrapx8,.wrapx9, .wrapx10,
.wrapx4_1, .wrapx5_1, .wrapx6_1,.wrapx7_1,.wrapx8_1,.wrapx9_1,.wrapx10_1
{ display:inline-block !important; float:none !important; width:100% !important; margin-bottom:5px; }
.ffLine .ffx_{
	width:48% !important; margin-bottom:0.5rem;
}
.DOMwin_open { width:99% !important; height:99% !important; top:0 !important; left:0 !important; overflow-x:scroll;}
._winOpenBk {padding:0.25rem; top:0; height:100%; border:none; overflow:auto; display:block; width:100% !important; }

._5b_wrapBoard { width:auto; display:block; }

._5a_wrapBar_left { width:auto; min-width:auto; float:none;}
._5a_wrapBar_middle { width:auto; min-width:1auto; float:none; }
.winUl_hide_btnOpen{ display:block; }
.winUl_hide_wrapList{ display:none; position:absolute; top:100%; left:0; border:0.0625rem solid #CCC; background-color:#FFF; max-width:100%; min-width:15rem; padding:0.5rem; padding:0.5rem;  }
