<style type="text/css" rel="stylesheet" media="all">
.payBtn {
    display: inline-block; text-decoration:none;
    height: 40px;
    line-height: 40px;
    background-color: rgb(26, 69, 148);
    border: 0px;
    border-radius: 4px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    font-size: 14px;
    padding: 0px 16px;
    color: white !important;
    cursor: pointer;
    -webkit-font-smoothing: subpixel-antialiased;
}
</style>