.JDrive_wrapper{
	position:relative; padding:0; font-size:0.9rem;
}
.JDrive_fTree{ font-weight:bold; font-size:16px; padding:6px 0;  }
.JDrive_wFolders, .JDrive_wFiles{
	display:inline-block; vertical-align:top;
}
.JDrive_wFolders{
	width:calc(25% - 0.325rem); min-height:4rem; background-color:#FAFAFA; padding:0 0.25rem; overflow:auto;
	border-right:0.0625rem solid #DDD;
}
.JDrive_wFiles{
	width:calc(75% - 0.75rem); padding:0 0.25rem;
}
.JDrive_wViewFile{
	display:none;
	width:calc(36% - 1rem); height:100%; padding:0.5rem; background-color:#FAFAFA; position:absolute; top:0; right:0;
	border-left:0.0625rem solid #DDD;
}

.JDrive_tbFiles { font-size:0.85rem; }
.JDrive_tbFiles ._fileName{
white-space:nowrap; width:100%; overflow:hidden;
}
.JDrive_tbFiles ._fileName span { display:inline-block; cursor:pointer; }
