.JFormResWrap{

}
.JFormRes-row{
	background-color:#FFF;
	border:1px solid #dadce0; border-radius:8px; padding:8px; margin-bottom:12px;
}
.JFormRes-row:after{ content:""; clear:both; display:block; }
.JFormRes-rowNum {
	float:right; font-weight:bold;
}
.JFormRes-rowNum:before{ content:"# "; }
.JFormRes-rowText {
	font-size:16px; margin-bottom:8px;
}
.JFormRes-rowDesc {
	font-size:12px; margin-bottom:4px;
}
.JFormRes-rowAns select {
	font-size:20px;
}
.JFormRes-rowQua{ float:left; }
.JFormRes-rowQua input{ font-size:20px; width:50px; margin-right:5px; }
.JFormRes-rowQua2{ float:left; width:calc(100% - 55px); }